body {
	font-family: 'Montserrat', sans-serif !important;
}

.main-container{

}

.main-banner-container{
	display: table;
    margin: 0 auto;
	height: 100vh;
	width:100%;
	min-height: 350px;
    background-color: #252a30;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("main-banner-bg.jpg");
}

.main-banner-content{
	display: table-cell;
    position: relative;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
	color: #FFFFFF;
	text-shadow: 2px 2px 3px #000000;
}


.mrjsp-dp{
	height: 150px;
    border-radius: 50%;
    margin-bottom: 100px;
    background-color: #FFFFFF;
}
	
.my-skills-container {
	background-color: #fff;
    text-align: center;
    margin: 0 auto;
}

.my-skills-intro {
	font-size: 3.2rem;
    margin: 10rem 0 2.0rem
}

.my-skills-statement {
    font-size: 2.0rem
}

.icon-lrg-yellow {
    color: #ffd966
    font-size: 100px;
}